
<h1>Your word: <%= @guess %></h1>
<p>Time taken to answer:  <%= @result[:time] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
<%= link_to "Play again", game_path %>
